<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends 'common_base/base.html' %}
    {% load static %}
    
    {% block title %} Microbotics {% endblock title %}
    
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">


    <!-- home page -->
    <div class="cards">

        <div class="card">
          <div class="card__image-holder">
            <img class="card__image" src="{% static 'images/robo.jpg' %}"alt="wave" />
          </div>
          <div class="card-title">
            <a href="#" class="toggle-info btn">
              <span class="left"></span>
              <span class="right"></span>
            </a>
            <h2>
                Learn Robo
                <small></small>
            </h2>
          </div>
          <div class="card-flap flap1">
            <div class="card-description">
              This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
            </div>
            <div class="card-flap flap2">
              <div class="card-actions">
                <a href="#" class="btn">Read more</a>
              </div>
            </div>
          </div>
        </div>
      
        
      
        
      
        <div class="card">
          <div class="card__image-holder">
            <img class="card__image" src="{% static 'images/tec.jpg' %}"alt="field" />
          </div>
          <div class="card-title">
            <a href="#" class="toggle-info btn">
              <span class="left"></span>
              <span class="right"></span>
            </a>
            <h3>
                Learn Tec
                <small></small>
            </h3>
          </div>
          <div class="card-flap flap1">
            <div class="card-description">
              This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
            </div>
            <div class="card-flap flap2">
              <div class="card-actions">
                <a href="#" class="btn">Read more</a>
              </div>
            </div>
          </div>
        </div>
      
        
      
        <div class="card">
          <div class="card__image-holder">
            <img class="card__image" src="{% static 'images/aii.jpg' %}" alt=" " />
          </div>
          <div class="card-title">
            <a href="#" class="toggle-info btn">
              <span class="left"></span>
              <span class="right"></span>
            </a>
            <h2>
              Learn Ai
                <small></small>
            </h2>
          </div>
          <div class="card-flap flap1">
            <div class="card-description">
              This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
            </div>
            <div class="card-flap flap2">
              <div class="card-actions">
                <a href="#" class="btn">Read more</a>
              </div>
            </div>
          </div>
        </div>
      
    
    
      
      </div>
      
      
      
      
    
    <!-- End home page -->







    {% endblock content %}

    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>